body {
	margin: 0;
	padding: 0;
	background: #EFF4F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #000;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-shadow: #ccc 0.1em 0.1em 0.2em
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 180%;
}

ul,ol {
	
}

a {
	text-decoration: none;
	color: #6E7A8A;
	text-shadow: 0.5px 0.5px white, 0.5px 0.5px #ebebeb;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#icons {
	height: 55px;
	width: 55px;
	background: #fff;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */
#header-wrapper {
	height: 0px;
	background: #616161;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Menu */
#menu-wrapper {
	height:60px;
}

#menu-dashboard-wrapper {
	height:60px;
}
#menu-wrapper, #menu-dashboard-wrapper {
	overflow: hidden;
	background-image: linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -o-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(89, 89
		, 97) ), color-stop(0.59, rgb(89, 89, 97) ),
		color-stop(1, rgb(89, 89, 97) ) );
}

#menu {
	width: 1300px;
	margin: 0px auto;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	/* text-transform: uppercase; */
	font-family: 'Arvo', serif;
	font-size: 16px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}

#menu .current_page_item a { /* background: #FFA800; */
	color: #FFFFFF;
}

#menu a:hover { /* background: #FFA800; */
	text-decoration: none;
	color: #FFFFFF;
}

/*for footer*/
#menu1 {
	width: 1300px;
	margin: 0px auto;
}

#menu1 ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu1 li {
	float: left;
	margin-right: 1px;
}

#menu1 a {
	display: block;
	float: left;
	text-align: center;
	width: 190px;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	/* text-transform: uppercase; */
	font-family: 'Arvo', serif;
	font-size: 16px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
	height: 60px;
}

#menu1 a:hover { /* background: #FFA800; */
	text-decoration: none;
	color: #FFFFFF;
}
/*for footer2*/
#menu2 {
	width: 1300px;
	margin: 0px auto;
}

#menu2 ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu2 li {
	float: left;
	margin-right: 1px;
}

#menu2 a {
	display: block;
	float: left;
	text-align: center;
	width: 350px;
	height: 60px;
	margin: 0px;
	margin-top:-5px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	/* text-transform: uppercase; */
	font-family: 'Arvo', serif;
	font-size: 16px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
	height: 60px;
}

#menu2 a:hover { /* background: #FFA800; */
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */
#page-wrapper {
	overflow: hidden;
	height: 500px;
	background-image: linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -o-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -moz-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -webkit-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -ms-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(98,
		174, 36) ), color-stop(0.69, rgb(98, 168, 40) ),
		color-stop(0.89, rgb(98, 174, 36) ) );
}

#page-lower-wrapper {
	overflow: hidden;
	height: 500px;
	background-image: linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -o-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -moz-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -webkit-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -ms-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.97, rgb(231
		, 237, 240) ), color-stop(0.74, rgb(231, 237, 240) ),
		color-stop(0, rgb(252, 252, 252) ) );
}

#page-dashboard-wrapper {
	overflow: hidden;
	height: 800px;
	background-image: linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -o-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -moz-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -webkit-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -ms-linear-gradient(bottom, rgb(231, 237, 240) 97%,
		rgb(231, 237, 240) 74%, rgb(252, 252, 252) 0% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.97, rgb(231
		, 237, 240) ), color-stop(0.74, rgb(231, 237, 240) ),
		color-stop(0, rgb(252, 252, 252) ) );
}


/* Footer */
#footer-wrapper {
	overflow: hidden;
	height: 60px;
	background-image: linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -o-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -moz-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -webkit-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -ms-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(229,
		66, 40) ), color-stop(0.61, rgb(229, 66, 40) ),
		color-stop(0.94, rgb(229, 66, 40) ) );
	border-style: solid;
	border-color: #e60e39;
	border-width: 1px;
	-moz-box-shadow: 0px 0px 1px 1px #de9000;
	-webkit-box-shadow: 0px 0px 1px 1px #de9000;
	box-shadow: 0px 0px 1px 1px #de9000;
}

#footer-lower-wrapper {
	overflow: hidden;
	height: 60px;
	background-image: linear-gradient(bottom, rgb(0, 106, 133) 0%,
		rgb(0, 162, 203) 74%, rgb(7, 183, 227) 100% );
	background-image: -o-linear-gradient(bottom, rgb(0, 106, 133) 0%,
		rgb(0, 162, 203) 74%, rgb(7, 183, 227) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(0, 106, 133) 0%,
		rgb(0, 162, 203) 74%, rgb(7, 183, 227) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(0, 106, 133) 0%,
		rgb(0, 162, 203) 74%, rgb(7, 183, 227) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(0, 106, 133) 0%,
		rgb(0, 162, 203) 74%, rgb(7, 183, 227) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0, 106
		, 133) ), color-stop(0.74, rgb(0, 162, 203) ),
		color-stop(1, rgb(7, 183, 227) ) );
	-moz-box-shadow: 0px 0px 1px 1px #00a2cb;
	-webkit-box-shadow: 0px 0px 1px 1px #00a2cb;
	box-shadow: 0px 0px 1px 1px #00a2cb;
}

/* Page */
#page {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */
#content {
	float: right;
	width: 650px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #FFA800;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
	
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */
#sidebar {
	float: left;
	width: 350px;
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFA800;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}
/*Left*/
#sidebarLeft {
	margin-left: 120px;
	float: left;
	width: 350px;
	padding: 0px 0px 0px 0px;
}

#sidebarLeft h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFA800;
}

#sidebarLeft p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebarLeft a {
	border: none;
}

#sidebarLeft a:hover {
	text-decoration: underline;
}

/*Right*/
#sidebarRight {
	margin-right: 120px;
	float: right;
	width: 350px;
	padding: 0px 0px 0px 0px;
}

#sidebarRight h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFA800;
}

#sidebarRight p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebarRight a {
	border: none;
}

#sidebarRight a:hover {
	text-decoration: underline;
}


/*Left*/
#sidebarLeft-dashBoard {
	margin-left: 120px;
	float: left;
	width: 200px;
	background:#000;
	padding: 0px 0px 0px 0px;
}

#sidebarLeft-dashBoard h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFA800;
}

#sidebarLeft-dashBoard p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebarLeft-dashBoard a {
	border: none;
}

#sidebarLeft-dashBoard a:hover {
	text-decoration: underline;
}

/*Right*/
#sidebarRight-dashBoard {
	margin-right: 50px;
	float: right;
	width: 900px;
	padding: 0px 0px 0px 0px;
}

#sidebarRight-dashBoard h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #FFA800;
}

#sidebarRight-dashBoard p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebarRight-dashBoard a {
	border: none;
}

#sidebarRight-dashBoard a:hover {
	text-decoration: underline;
}


@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: normal;
	src: local('Arvo'), url('../fonts/WJ6D195CfbTRlIs49IbkFw.woff')
		format('woff');
}

#btnLogin {
	position: relative;
	left: 70px;
	-moz-box-shadow: 0px 0px 1px 1px #de9000;
	-webkit-box-shadow: 0px 0px 1px 1px #de9000;
	box-shadow: 0px 0px 1px 1px #de9000;
	color: #fff;
	text-shadow: -1px -1px white, 0.5px 0.5px #ccc;
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	height: 50px;
	background-image: linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -o-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,
		170, 0) ), color-stop(0.59, rgb(255, 174, 23) ),
		color-stop(1, rgb(230, 230, 23) ) );
	border-style: solid;
	border-color: #de9000;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 1px 1px #de9000;
}

/* TABS */
#wrapper_1 {
	width: 845px;
}

ul.tabs {
	width: 845px;
	margin: 5px;
	padding: 0;
}

ul.tabs li {
	display: block;
	float: left;
	padding: 0px 1.8px;
}

ul.tabs li a:hover {
	 
}

ul.tabs li a {
	display: block;
	float: left;
	padding: 10px;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	background-image: linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -o-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(255, 170, 0) 0%,
		rgb(255, 174, 23) 59%, rgb(230, 230, 23) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,
		170, 0) ), color-stop(0.59, rgb(255, 174, 23) ),
		color-stop(1, rgb(230, 230, 23) ) );
	border-style: solid;
	border-color: #de9000;
	border-width: 1px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 0px 0px 1px 1px #de9000;
	text-shadow: 0.5px 0.5px #ccc, 0.5px 0.5px #ebebeb;
	
	
}
.selected {
	font-weight: bold;
	font-size: 1.5em;
}

.tab-content {
	clear: both;
	border: 1px solid #ddd;
	padding: 10px;
	height:400px;
	background:#FFF;
}

/* Logo */
#logo {
	height: 90px;
	width: 350px;
	margin: 0 auto;
}

#dashBoardLogo {
	position:relative;
	top:5px;
	height: 55px;
	width: 200px;
	margin: 0 auto;
}

.logo {
	height:100%;
	width:100%;
}
.icons {
	position:relative;
	left:0px;
	top:5px;
	height:50px;
	width:50px;
}


