/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #EFF4F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #FFA800;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 180%;
}

ul,ol {
	
}

a {
	text-decoration: none;
	color: #6E7A8A;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */
#header-wrapper {
	height: 0px;
	background: #616161;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Menu */
#menu-wrapper {
	overflow: hidden;
	height: 60px;
	background-image: linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -o-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -moz-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -webkit-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -ms-linear-gradient(bottom, rgb(89, 89, 97) 0%,
		rgb(89, 89, 97) 59%, rgb(89, 89, 97) 100% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(89, 89
		, 97) ), color-stop(0.59,	 rgb(89, 89, 97) ),
		color-stop(1, rgb(89, 89, 97) ) );
}

#menu {
	width: 1300px;
	margin: 0px auto;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	/* text-transform: uppercase; */
	font-family: 'Arvo', serif;
	font-size: 16px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}

#menu .current_page_item a { /* background: #FFA800; */
	color: #FFFFFF;
}

#menu a:hover { /* background: #FFA800; */
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */
#page-wrapper {
	overflow: hidden;
	height: 400px;
	background-image: linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -o-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -moz-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -webkit-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -ms-linear-gradient(bottom, rgb(98, 174, 36) 25%,
		rgb(98, 168, 40) 69%, rgb(98, 174, 36) 89% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(98,
		174, 36) ), color-stop(0.69, rgb(98, 168, 40) ),
		color-stop(0.89, rgb(98, 174, 36) ) );
}

/* Footer */
#footer-wrapper {
	overflow: hidden;
	height: 60px;
	background-image: linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -o-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -moz-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -webkit-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -ms-linear-gradient(bottom, rgb(229, 66, 40) 0%,
		rgb(229, 66, 40) 61%, rgb(229, 66, 40) 94% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(229,
		66, 40) ), color-stop(0.61, rgb(229, 66, 40) ),
		color-stop(0.94, rgb(229, 66, 40) ) );
	border-style:solid;
	border-color:#262626;
	border-width: 1px;
}


@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: local('Arvo'), url('../fonts/WJ6D195CfbTRlIs49IbkFw.woff') format('woff');
}
