<html>


<head>

<title> Enter Expense </title>

</head>

<body>
ENTER EXPENSE
<div align="left">
<br><br>
DATE: <select>
  <option>MONTH</option>
  </select>
<select>
  <option>DAY</option>
  </select>
<select>
  <option>YEAR</option>
  </select>
<br><br>
CATEGORY: <select>
  <option>HOME</option>
  <option>FOOD</option>
  <option>ENTERTAINMENT</option>
</select>
<br><br>
SUB CATEGORY: <select>
  <option></option>
  <option>RENT</option>
  <option>MORTGAGE</option>
</select>
<br><br>
AMOUNT: <input type="text" size="20" value="">
<br><br>
PAYEE: <input type="text" size="25" value="Enter your name here!">
<br><br>
<input type="radio" name="group2" value="WANT"> WANT<br>
<input type="radio" name="group2" value="NEED" checked> NEED
<br><br>
<input type="text" size="25" value="REMARKS!">
<br><br>
<input type="checkbox" name="option1" value="Milk"> SHARE ON FB: <input type="text" size="25" value="COMMENT!">
<br><input type="submit" value="SUBMIT"><br>
<br><BR>
</div>

</body>


</html>

