<div id="expensesDiv">
	<div id="slideshow">
		<ul class="slides">
			<li><img src="@{'/public/images/ExpenseCategoryChart.jpg'}"
				width="620" height="320" alt="Marsa Alam underawter close up" /></li>
			<li><img src="@{'/public/images/IncomeChart.jpg'}" width="620"
				height="320" alt="Turrimetta Beach - Dawn" /></li>
			<li><img src="@{'/public/images/Logo.png'}" width="620"
				height="320" alt="Power Station" /></li>
			<li><img src="@{'/public/images/Icon.png'}" width="620"
				height="320" alt="Colors of Nature" /></li>
		</ul>

		<!-- <span class="arrow previous"></span> <span class="arrow next"></span> -->
	</div>
	<div id="expensesDiv1">
	<input name="enterExpenses" class="customButton" type="button"
		value="Enter Expenses" /> <input name="changeReport"
		class="customButton" type="button" value="Change Report" />
	</div>
</div>