<div id="footer-wrapper">
	<div id="menu1">
		<ul>
			<li><a href="#"><img class="platform" src="@{'/public/images/PLATFORM_Android.png'}"/></a></li>
			<li><a href="#"><img class="platform" src="@{'/public/images/PLATFORM_Blackberry.png'}"/></a></li>
			<li><a href="#"><img class="platform" src="@{'/public/images/PLATFORM_iPhone.png'}"/></a></li>
			<li><a href="#"><img class="platform" src="@{'/public/images/PLATFORM_Nokia.png'}"/></a></li>
			<li><a href="#"><img class="platform" src="@{'/public/images/PLATFORM_WindowsPhone7.png'}"/></a></li>
		</ul>
	</div>
</div>