<div id="page-wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div id="slideshow">
						<ul class="slides">
							<li><img src="@{'/public/images/arrows.png'}" width="620" height="320"
								alt="Marsa Alam underawter close up" /></li>
							<li><img src="@{'/public/images/bg.jpg'}" width="620" height="320"
								alt="Turrimetta Beach - Dawn" /></li>
							<li><img src="@{'/public/images/Logo.png'}" width="620" height="320"
								alt="Power Station" /></li>
							<li><img src="@{'/public/images/Icon.png'}" width="620" height="320"
								alt="Colors of Nature" /></li>
						</ul>

						<span class="arrow previous"></span> <span class="arrow next"></span>
					</div>
				</div>
				<div id="sidebar">
					<br>
					<div id="logo">
						<img class="logo" src="@{'/public/images/Logo.png'}" />
					</div>
					<br> <br>
					<div id="headings">
						<h1>Make being smart money fun!</h1>
						<br>
						<p>PunchItIn is a mobile app that encourages you to make smart
							financial desicions. Win badges for spending less (and brag about
							them to your friends). Win rewards for reaching savings goals.
							Make being smart about money a daily habit.</p>
						<input type="button" value="Log In" id="btnLogin" />
					</div>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
</div>