<div id="page-lower-wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="sidebarLeft">
					<div id="headings">
						<h3>Track your savings goals</h3>
						<br>
						<p>Clearly see your progress against set target goals. Find out how close you are to buying that new gadget!</p>
					</div>
					<div id="headings">
						<h3>Get informed about the best deals</h3>
						<br>
						<p>When entering an expense, find out if there are great deals on related purchases in areas near you!</p>
					</div>
					<div id="headings">
						<h3>It's FREE!!!</h3>
						<br>
						<p>PunchItIn is completely free! But we do also offer extra features for the price of 1 Caffe Latte!</p>
					</div>
				</div>
				
				<div id="sidebarRight">
					<div id="headings">
						<h3>Your data will NEVER be leaked!</h3>
						<br>
						<p>Using secure servers, SSL encryption and password protected apps, we make sre that your data is absolutely secure.
						</p>
					</div>
					<div id="headings">
						<h3>Involve your support group!</h3>
						<br>
						<p>By integrating with Facebook & Twitter, your friends can help cheer you on as you build your way towards financial independence!</p>
					</div>
					<div id="headings">
						<h3>Smart Charts & Analysis!</h3>
						<br>
						<p>You cal analyze your financials through easy to understand charys and graphs. Allowing you to easily see how your wallet's doing.</p>
					</div>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
</div>