<div id="page-wrapper">
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					
				</div>
				<div id="sidebar">
					<br>
					<div id="logo">
						<h3>Logo Here!</h3>
					</div>
					<br>
					<br>
					<div id="headings">
						<h1>Make being smart money fun!</h1>
						<br>
						<p>PunchItIn is a mobile app that encourages you to make smart
							financial desicions. Win badges for spending less (and brag about
							them to your friends). Win rewards for reaching savings goals.
							Make being smart about money a daily habit.</p>
						<input type="button" value="Log In" id="btnLogin" />
					</div>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
</div>