<div id="badges">
	<div id="slideshow1">
		<ul class="slides">
			<li><img src="@{'/public/images/certificate_gold.png'}"
				width="620" height="320" alt="Marsa Alam underawter close up" /></li>
			<li><img src="@{'/public/images/web_badge_nestegg.png'}" width="620"
				height="320" alt="Turrimetta Beach - Dawn" /></li>
		</ul>
		<span class="arrow previous"></span> <span class="arrow next"></span>
	</div>	
</div>

		<!-- <div id="list_badges">
			<img src="@{'/public/images/badge_interface_copy.jpg'}"
						width="620" height="320" /> -->
</div>
