<br>
<div id="wrapper_1">
	<ul class="tabs">
		<li><a rel="summary" class="defaulttab selected" href="#">SUMMARY</a></li>
		<li><a rel="achievements" href="#" class="">ACHIEVEMENTS</a></li>
		<li><a rel="expenses" href="#" class="">EXPENSES</a></li>
		<li><a rel="income" href="#" class="">INCOME</a></li>
		<li><a rel="accounts" href="#" class="">ACCOUNTS</a></li>
		<li><a rel="reports" href="#" class="">REPORTS</a></li>
		<li><a rel="bills" href="#" class="">BILLS</a></li>
		<li><a rel="search" href="#" class="">SEARCH</a></li>
	</ul>

	<div id="summary" class="tab-content" style="display: block;">
		#{summary /}
	
	</div>
	<div id="achievements" class="tab-content" style="display: none;">
		#{achievement /}
		
	</div>
	
	<div id="expenses" class="tab-content" style="display: none;">
		#{expenses /}
		
	</div>
	<div id="income" class="tab-content" style="display: none;">
		#{income /}
	
	</div>
	<div id="accounts" class="tab-content" style="display: none;">
		#{account /}
	
	</div>
	<div id="reports" class="tab-content" style="display: none;">
		#{report /}
	</div>
	<div id="bills" class="tab-content" style="display: none;">
		#{bill /}
	</div>
	<div id="search" class="tab-content" style="display: none;">
		#{search /}
	</div>
</div>